<div *ngIf="singleTask" class="form_container_large">
  <div class="details_container shadow p-3 w-70 mb-5 bg-body rounded">
    <div class="details_header mb-3">
      <div id="details_header_title">
        <h3>{{ singleTask.data.taskname }}</h3>
      </div>
    </div>
    <!-- admin controls start -->
    <div class="mb-2" *ngIf="isAdmin" id="details_header_adminControl">
      <button
        class="btn btn-danger"
        data-bs-toggle="modal"
        data-bs-target="#deleteModal"
      >
        Delete
      </button>
      <button
        class="btn btn-secondary mx-1"
        data-bs-toggle="modal"
        data-bs-target="#statusModal"
      >
        Edit
      </button>
      <div *ngIf="singleTask.data.proof == null">
        <button
        class="btn btn-secondary mx-1"
        data-bs-toggle="modal"
        data-bs-target="#uploadProofModal"
      >
        Proof
      </button>
      </div>
      <!-- admin controls end -->
    </div>
    <div class="details_body">
      <div class="center_map_container">
      <div class="map_container">
        <google-map 
        [zoom]="zoom" 
        [center]="center" 
        [options]="options"
        [width]="null"
        [height]="null">
          <map-marker
            #somemarker="mapMarker"
            *ngFor="let marker of markerPositions"
            [position]="marker"
            [options]="markerOptions"
            [label]="markerLabel"
            (mapClick)="openInfo(somemarker)"
          >
          </map-marker>
          <map-info-window>{{ infoContent }}</map-info-window>
        </google-map>
      </div>
      </div>
      <p class="card-text mb-2">Status: {{ singleTask.data.status }}</p>
      <div class="card-text mb-2" *ngIf="singleTask.data.status === 'COMPLETE'">
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#proofModal">Proof</button>
      </div>
      
      <p class="card-text task-remarks">{{ singleTask.data.remarks }}</p>
      <p class="card-text">
        <small class="text-muted"
          >Submitted on:
          {{
            singleTask.data.timestamp._seconds * 1000 | date: "MM-dd-yyyy"
          }}</small
        >
      </p>
    </div>
  </div>
</div>
<!-- Status Modal -->
<div
  class="modal fade"
  id="statusModal"
  tabindex="-1"
  aria-labelledby="Edit Task Status"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editModalLabel">
          Update Status
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">

        <p>Select Updated Status</p>
        
        <button
          type="button"
          class="btn btn-info mx-1"
          (click)="statusChange('open')"
          data-bs-dismiss="modal"
        >
          Open
        </button>
        <button
          type="button"
          class="btn btn-success"
          (click)="statusChange('complete')"
          data-bs-dismiss="modal"
        >
          Completed
        </button>
        <button
          type="button"
          class="btn btn-danger mx-1"
          (click)="statusChange('rejected')"
          data-bs-dismiss="modal"
        >
          Reject
        </button>
        <button
          type="button"
          class="btn btn-warning"
          (click)="statusChange('abandon')"
          data-bs-dismiss="modal"
        >
          Abandon
        </button>
      </div>
      <div class="modal-footer mx-1">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Cancel
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Delete Modal -->
<div
  class="modal fade"
  id="deleteModal"
  tabindex="-1"
  aria-labelledby="Delete Task Confirmation"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">
          Delete Task Confirmation
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        You are about to delete this task, are you sure?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button
          type="button"
          class="btn btn-danger"
          (click)="deleteConfirm()"
          data-bs-dismiss="modal"
        >
          Delete
        </button>
      </div>
    </div>
  </div>
</div>
<!-- upload proof modal -->
<div
  class="modal fade"
  id="uploadProofModal"
  tabindex="-1"
  aria-labelledby="Upload Proof"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="uploadProofModalLabel">
          Update Status
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <p>Upload Completion Proof</p>
        <app-file-upload
        [taskId]="singleTask.taskid"></app-file-upload>
      </div>
      <div class="modal-footer mx-1">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Cancel
        </button>
      </div>
    </div>
  </div>
</div>
<!-- Proof Modal-->
<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="proofModal" aria-hidden="true" id="proofModal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <img class="img-fluid" [src]="mytaskProofImage" alt="proof of Completion" />
    </div>
  </div>
</div>