
.filter_panel {
    max-width: 100px;
}

.filter_container {
    justify-content: center;
    background-color: white;
}

@media screen and (max-width: 600px) {

    .filter {
        width: 98%
    }
    
}