<div class="filter_container">
<div class="filter container shadow-sm rounded mb-2">
    <div class="row g-0">
        <div id="filterBy" class="col filter_panel mx-2">
            <select (change)="filterSelect($event)" class="form-select form-select-sm" aria-label="Filter By" name="filter">
                <option selected>Filter By</option>
                <option value="ALL">All</option>
                <option value="OPEN">Open</option>
                <option value="COMPLETE">Completed</option>
                <option value="REJECTED">Rejected</option>
            </select>
        </div>
        <div id="sortBy" class="col filter_panel mx-2">
            <select (change)="sortSelect($event)" class="form-select form-select-sm" aria-label="Sort By" name="sort">
                <option selected>Sort By</option>
                <option value="asc">Newest</option>
                <option value="desc">Oldest</option>
            </select>
    </div>
    </div>
</div>
</div>