<div
  class="card shadow-sm p-3 bg-body rounded mb-3 mt-3 mx-1 container">
  <!-- Top Row for title-->
  <div id="top_row" class="row g-0">
    <div id="title-col" class="col-md-12 text-truncate">
      <h5 class="card-title">
        <a [title]="taskName"
         [routerLink]="['/showtask', taskId]">
         {{ taskName }}</a>
      </h5>
    </div>
  </div>
  <!-- top row end -->
  <!-- bottom row with pic $ remarks-->
  <div id="bottom_row" class="row g-0">
    <div class="col-md-4">
      <img
        src="{{ picUrl }}"
        class="img-fluid rounded-start"
        alt="{{ taskName }}"
      />
  </div>
    <div class="col-md-8 card-body">
      <div class="card_remarks card-text task-remarks fs-6">

        <p>{{ remarks }}</p>
        <p>Status: {{ niceStatus }}</p>
      </div>
    </div>
  </div>
  <!-- bottom row end-->
</div>
