#title-column {
  display: inline;
  overflow: hidden;
}

.card-body {
  padding: 8px !important;
}

.card {
  max-width: 350px;
  min-height: 235px;
  max-height: 235px;
}

@media screen and (max-width: 768px) {

  .img-fluid {
    width: 80px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  .card {
    min-width: 350px;
    min-height: fit-content;
    height: auto;
    display: flex;
    flex-direction: row;
  }

}
