<div class="form_container_small">
    <div class="shadow p-3 mb-5 bg-body rounded">
        <div class="displayTableCell">
          <div class="authBlock">
            <h3>Sign Up</h3>
            <div class="mb-3">
              <input type="email" class="form-control" placeholder="Email Address" #userEmail required>
            </div>
            <div class="mb-3">
              <input type="password" class="form-control" placeholder="Password" #userPwd required>
            </div>
            <div class="mb-3">
              <input type="button" class="btn btn-info" value="Sign Up" (click)="authService.register(userEmail.value, userPwd.value)">
            </div>
            <div class="mb-3">
              <span class="or"><span class="orInner">Or</span></span>
            </div>
            <!-- Continue with Google -->
            <div class="mb-3">
              <button type="button" class="btn btn-danger" (click)="authService.googleAuth()">
                <i class="fab fa-google-plus-g"></i>
                Continue with Google
              </button>
            </div>
            <!-- Continue with Facebook -->
            <div class="mb-3">
              <button type="button" class="btn btn-primary" (click)="authService.facebookAuth()">
                <i class="fab fa-facebook"></i>
                Continue with Facebook
              </button>
            </div>
          </div>
          <div class="redirectToLogin">
            <span>Already have an account? <a class="redirect" routerLink="/sign-in">Log In</a></span>
          </div>
        </div>
      </div>
</div>