#cards_outer_container {
    width: 80%;
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    
}
.tasklist_content_container {
    width: 100vw;
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 600px) {
   
 #cards_outer_container {
        width: 98%;
        flex-direction: column;
        align-content: center;
    }

    .img-fluid {
        width: 105px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }

    .card {
        min-width: 350px;
        display: flex;
        flex-direction: row;
    }
    
}


/* .card-body {
    height: 130px;
} */