#cards_outer_container {
    width: 80%;
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    
}

.tasklist_content_container {
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: center;
}


@media screen and (max-width: 600px) {

    .tasklist_content_container {
        
    }

    #cards_outer_container {
        width: 98%;
        flex-direction: column;
        align-content: center;
    }
    
}
