export const environment = {
    production: true,
    googleApiKey: '',
    port: 'proces.env.PORT',
    backendUri: '',
    firebase: {
      apiKey: "",
      authDomain: "",
      projectId: "",
      storageBucket: "",
      messagingSenderId: "",
      appId: "",
      measurementId: ""
    },
    adminUid: ''
  };
  