<nav
  class="navbar navbar-expand-lg navbar-light"
  style="background-color: rgb(141, 198, 236)"
>
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><i [class]="navIcon"></i> {{ title }}</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" [routerLink]="['/']"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="/submit"><i class="fa-solid fa-square-arrow-up-right"></i> Submit Task</a>
        </li>
        <li *ngIf="isAuthenticated == true" class="nav-item">
          <a class="nav-link active" routerLink="/my-tasks"><i class="fa-solid fa-list"></i> My Tasks</a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link active dropdown-toggle"
            href="#"
            id="navbarDropdownMenuLink"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <span *ngIf="!userDisplayName"><i class="fa-solid fa-user"></i> Account</span>
            <span *ngIf="userDisplayName"><i class="fa-solid fa-user"></i> {{ userDisplayName }}</span>
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li>
              <a
                *ngIf="isAuthenticated == false"
                class="dropdown-item"
                [routerLink]="['/sign-in']"
                >Login</a
              >
            </li>
            <li>
              <a
                *ngIf="isAuthenticated == false"
                class="dropdown-item"
                routerLink="/register"
                >Register</a
              >
            </li>
            <li>
              <a
                *ngIf="isAuthenticated == true"
                class="dropdown-item"
                routerLink="/user-settings"
              >
                <i class="fa-solid fa-user-pen"></i> Edit Account</a
              >
            </li>
            <li>
              <a
                *ngIf="isAuthenticated == true"
                class="dropdown-item"
                href="#"
                (click)="logOut()"
                >Log Out</a
              >
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
