#navstyle {
    height: 3em;
    line-height: 3em; /* a lignts title text vertically center..*/
    background-color: rgb(141, 198, 236);
    align-items: center;

}
 #navlogotext {
    font-family: 'Saira', sans-serif;
    color: rgbrgb(141, 198, 236);
    font-size: larger;
    vertical-align: middle;
} 
/* #navlogotext  a:link, a:visited, a:hover {
    color:rgb(192, 226, 238);
    text-decoration: none;
}  */
#bg-light2 {
    background-color: rgb(141, 198, 236);
}