<div *ngIf="singleTask">


<div [ngClass]="getCSSforStatus( singleTask.data.status )" >
    <div class=card-header><p>View Task Details</p></div>
    <div class="card-body text-dark">
      <h4 class="card-title">{{ singleTask.data.taskname }}</h4>
        <div class="map_container">
            <google-map
            
            [zoom]="zoom"
            [center]="center"
            [options]="options">
            <map-marker
            #somemarker="mapMarker"
            *ngFor="let marker of markerPositions"
            [position]="marker"
            [options]="markerOptions" 
            [label]="markerLabel"
            (mapClick)="openInfo(somemarker)"
            >
            
            </map-marker>
            <map-info-window>{{ infoContent }}</map-info-window>
        </google-map>
        </div>
      
      <p class="card-text">Status: {{ singleTask.data.status }}</p>

      <p class="card-text">{{ singleTask.data.remarks }}</p>
      <p class="card-text"><small class="text-muted">Submitted on: {{ singleTask.data.timestamp._seconds * 1000 | date:'MM-dd-yyyy' }}</small></p>
</div>
</div>
