<div class="form_container_large">
    <div class="shadow p-3 w-75 mb-5 bg-body rounded profile_inner_container">
      <div class="nameHeaderContainer">
        <div class="profilePicContainer"> 
          <span *ngIf="user.photoURL != null">
            <img class="rounded-circle img-thumbnail border border-info profile_img" src="{{ user.photoURL }}" /></span>
        </div>
        <div class="nameDisplayContainer">
          <h2 *ngIf="user.displayName != null"><strong></strong> {{ user.displayName }}</h2>
          <h3 *ngIf="user.displayName == null"><strong></strong> Hello!</h3>
        </div>
      </div>
      <div class="mb-4 other_user_data_container">
          <p><strong>Email Address:</strong> {{ user.email }}</p>
          <p><strong># of Tasks Submitted:</strong> {{ tasksAmount }} </p>
          <button
          class="btn btn-info"
          data-bs-toggle="modal"
          data-bs-target="#updateUserModal"
        >Edit Details</button>
      </div>
    </div>
</div>

<div
  class="modal fade"
  id="updateUserModal"
  tabindex="-1"
  aria-labelledby="Update User Details"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="updateUserModalLabel">
          Update User Details
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="userForm" (ngSubmit)="updateUser()">
          <div class="mb-3">
                <label for="displayname" class="form-label">Display Name</label>
                <input type="text" placeholder="User Display Name" class="form-control" formControlName="displayname" name="displayname">
          </div>
 
          <div class="mb-3">
                <label for="emailAddress" class="form-check-label">Email</label>
                <input type="text" placeholder="{{ user.email }}" class="form-control" formControlName="emailAddress" name="emailAddress">
          </div>

          <div class="mb-3">
              <label for="photoURL" class="form-check-label">Photo URL</label>
              <input type="text" placeholder="Photo URL" class="form-control" formControlName="photoURL" name="photoURL">
          </div>

          <div class="mb-3">
              <label for="newPassword" class="form-check-label">New Password</label>
              <input type="password" placeholder="" class="form-control" formControlName="newPassword" name="newPassword">
          </div>

          <div class="mb-3">
              <label for="currentPassword" class="form-check-label">Current Password<span class="formbuilder-required">*</span></label>
              <input type="currentPassword" placeholder="" class="form-control" formControlName="currentPassword" name="currentPassword">
          </div>

      </form>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn-info btn mx-3" [disabled]="!userForm.valid" data-bs-dismiss="modal" name="submitButton" access="false" (click)="updateUser()"  id="submitButton">Update</button> 

        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Cancel
        </button>

      </div>
      
    </div>
  </div>
</div>